@model IEnumerable<ShoppingCartMVC.Models.getallorder>


<div class="container">


    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pro_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th></th>
        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pro_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bill)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceDate)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>